<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUILD_TIME</key>
	<string>2022-10-25T14:41:08+0800</string>
	<key>GIT_SHA</key>
	<string>346a1eb</string>
	<key>TOTAL_CODE_NUM</key>
	<string>1133332</string>
	<key>TOTAL_FILE_NUM</key>
	<string>13402</string>
	<key>TOTAL_IMAGE_NUM</key>
	<string>1679</string>
	<key>TOTAL_IMAGE_SIZE</key>
	<string>82350</string>
	<key>{cpp}_CODE_NUM</key>
	<string>3931</string>
	<key>{cpp}_FILE_NUM</key>
	<string>11</string>
	<key>{c}_CODE_NUM</key>
	<string>31037</string>
	<key>{c}_FILE_NUM</key>
	<string>53</string>
	<key>{h}_CODE_NUM</key>
	<string>304516</string>
	<key>{h}_FILE_NUM</key>
	<string>5003</string>
	<key>{java}_CODE_NUM</key>
	<string>0</string>
	<key>{java}_FILE_NUM</key>
	<string>0</string>
	<key>{js}_CODE_NUM</key>
	<string>1570</string>
	<key>{js}_FILE_NUM</key>
	<string>5</string>
	<key>{mm}_CODE_NUM</key>
	<string>14848</string>
	<key>{mm}_FILE_NUM</key>
	<string>64</string>
	<key>{m}_CODE_NUM</key>
	<string>739501</string>
	<key>{m}_FILE_NUM</key>
	<string>4148</string>
	<key>{py}_CODE_NUM</key>
	<string>0</string>
	<key>{py}_FILE_NUM</key>
	<string>0</string>
	<key>{swift}_CODE_NUM</key>
	<string>37929</string>
	<key>{swift}_FILE_NUM</key>
	<string>197</string>
</dict>
</plist>
